.movieInfo {
    padding: 30px 0;
}

.movie-info-nav {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 15px 0;
}

.movie-info-nav li {
    margin-left: 15px;
    cursor: pointer;
    font-weight: 600;
}

.movie-info-img {
    width: 300px;
}

.movie-info-img img {
    border-radius: 10px;
}

.title-btn {
    margin-left: 10px;
    color: #ffffff;
}

.movie-info-img-btn img {
    width: 36px;
    height: 36px;
}

.film-info-title{
    margin-top: 65px;
}

.title-film{
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
}

.film-title-year{
    font-weight: 400;
    color: #d1ced0;
    font-size: 36px;
}

.film-class{
    padding: 0 12px;
}

.film-info-box{
    color: #ffffff;
}

.movie-info-overview{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.movie-info-description{
    color: #ffffff;
    padding-bottom: 15px;
}


.film-score{
    display: flex;
    align-items: center;
}


.film-score-rating{
    height: 70px;
    background-color: #000000;
    padding: 15px;
    border-radius: 50%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 15px;
}

.film-add{
    display: flex;
}

.film-add div{
    display: flex;
    margin-left: 15px;
    font-size: 18px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 50%;
}

.billedCast{
    margin: 20px 0 15px;
}